@import "tailwindcss";
@import "@fontsource-variable/geist";

@plugin "daisyui" {
  themes: lemonade --default;
}

@theme inline {
  --font-sans: 'Geist Variable', sans-serif;
}

body {
  font-family: 'Geist Variable', sans-serif;
}
